<nav class="sidebar">

  <!-- Menu -->
  <div class="nav-menu">
    <app-sidebar-menue-item
      [content]="'Summary'"
      [imgSrc]="'./assets/img/icons/sidebar-summary.svg'"
      [routerTarget]="'summary'"
    ></app-sidebar-menue-item>

    <app-sidebar-menue-item
      [content]="'Board'"
      [imgSrc]="'./assets/img/icons/sidebar-board.svg'"
      [routerTarget]="'board'"
    ></app-sidebar-menue-item>

    <app-sidebar-menue-item
      [content]="'Add Task'"
      [imgSrc]="'./assets/img/icons/sidebar-add_task.svg'"
      [routerTarget]="'add-task'"
    ></app-sidebar-menue-item>

    <app-sidebar-menue-item
      [content]="'employees'"
      [imgSrc]="'./assets/img/icons/sidebar-employees.svg'"
      [routerTarget]="'employees'"
    ></app-sidebar-menue-item>
  </div>

 
</nav>
